 <label for="">Nombre: 
                    
                    <input type="text" class="form-control" [(ngModel)]="nombreNew" >

                        </label><br>
                    <label for="">Salario: 
                    
                            <input type="text" class="form-control" [(ngModel)]="salarioNew" >

                        </label><br>
                    <label for="">Cargo: 
                    
                    <input type="text" class="form-control" [(ngModel)]="cargoNew" >

                </label><br>
                    <label for="">Rango: 
                    
                    <input type="text" class="form-control" [(ngModel)]="rangoNew" >

                </label><br>
                    <br>

                    <button class="btn btn-primary" (click)="agregaEmpledado()"> enviar </button>